<!--

    Copyright (c) 20012-2013 "FGV - CEPESP" [http://cepesp.fgv.br]

    This file is part of CEPESP-DATA.

    CEPESP-DATA is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    CEPESP-DATA is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with CEPESP-DATA. If not, see <http://www.gnu.org/licenses/>.

-->
 <!DOCTYPE hibernate-configuration PUBLIC  
     "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
     "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- DESENVOLVIMENTO -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/consultatse?autoReconnect=true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<!--<property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>-->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>


		<!-- Para configurar isto, use o settings.xml do maven -->
		<property name="hibernate.connection.username">${cepesp.db.user}</property>
		<property name="hibernate.connection.password">${cepesp.db.passwd}</property>


		<!-- Configuracao da manutenção da conexao -->
		<property name="hibernate.c3p0.min_size">3</property>
		<property name="hibernate.c3p0.max_size">50</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">100</property>
		<property name="hibernate.c3p0.preferredTestQuery">SELECT 1</property>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		

		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.hbm2ddl.auto">null</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

	</session-factory>
</hibernate-configuration>

