<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright (c) 20012-2013 "FGV - CEPESP" [http://cepesp.fgv.br]

    This file is part of CEPESP-DATA.

    CEPESP-DATA is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    CEPESP-DATA is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with CEPESP-DATA. If not, see <http://www.gnu.org/licenses/>.

-->
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %5p [%15.15t] [%-20c{1}] %m%n" />
		</layout>
	</appender>
	
	<appender name="R" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${catalina.home}/logs/cepespdata.log" />
		<param name="MaxFileSize" value="10MB" />

		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} %5p [%15.15t] [%-20c{1}] %m%n" />
		</layout>
	</appender>
	
	
    <appender name="DAILY" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${catalina.home}/logs/rejseportal.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} %5p [%-20t{1}] [%-20c{1}] %m%n" />
        </layout>
    </appender>
 
	<category name="br.fgv">
		<priority value="INFO" />		
		<appender-ref ref="stdout" />
		<appender-ref ref="DAILY" />
	</category>

	<root>
		<level value="WARN" />
		<appender-ref ref="stdout" />
		<appender-ref ref="DAILY" />
	</root>
</log4j:configuration>
